.card {
    border: 1px solid grey;
    width: 280px;
    height: 440px;
    border-radius: 5px;
    margin: 12px;
}

.product-image {
    width: 100%;
    height: 164px;
    margin-top: 2px;
    overflow: hidden;
    border-radius: 5px 5px 0px 0px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

button {
    background-color: rgba(176, 26, 56, 0.575);
    border: none;
    color: white;
    border-radius: 10px;
    width: 125px;
    height: 30px;
    font-size: small;
    cursor: pointer;
}

button:hover {
    background-color: rgba(176, 26, 56, 0.8);
}

.content-section {
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(240, 217, 225);
    border-radius: 25px 25px 5px 5px;
    padding-top: 2px;
    height: 272px;
}

.body-section {
    display: flex;
    flex-wrap: wrap;
}

/* header */
.header {
    background-color: rgba(16, 32, 22, 0.201);
    height: 50px;
    border-radius: 10px;
    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

/* search */
.header input {
    /* float: right; */
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.header img {
    width: 30px;
    margin-left: 30px;
}

.header label {
    padding: 5px;
}

.header input {
    margin: 5px 150px 5px 400px;
    width: 500px;
    border-radius: 50px;
    border: 1px solid red;
}

.header button {
    background-color: rgba(16, 32, 22, 0.422);
    height: 30px;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header button:hover {
    background-color: rgba(16, 32, 22, 0.8);
}

.header i {
    margin: 0px 10px 0px -6px;
}

.header a {
    margin: 0px 10px 0px 0px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-size: large;
    font-weight: 500;
}

.body-section .card:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.footer {
    padding: 10px;
    background-color: #232F3E;
    color: rgb(230, 165, 188);
    border-radius: 0px 0px 10px 10px;
}

.footer a {
    color: white;
    text-decoration: none;
}

.detail {
    background-color: rgba(16, 32, 22, 0.422);
    height: 30px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.detail:hover {
    background-color: rgba(16, 32, 22, 0.8);
}

.footer a:hover {
    color: rgb(230, 165, 188);
}

.detail-info .buy {
    background-color: rgba(80, 183, 119, 0.598);
    height: 30px;
    border-radius: 10px;
    width: 100%;
    text-decoration: none;
    color: white;
}

.detail-info .buy:hover {
    background-color: rgba(80, 183, 119, 0.8);
}

.detail-image img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}