.card {
    border: 1px, solid, grey;
    width: 260px;
    height: 450px;
    border-radius: 10px;
    margin: 20px;
}

.img-section img {
    width: 150px;
    padding: 10px;
    object-fit: cover;

}

.img-section {
    width: 260px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.des-section {
    padding: 10px 15px 10px 15px;
    height: 210px;
    margin-top: 17px;
    border-radius: 30px 30px 10px 10px;
    background-color: rgba(222, 184, 135, 0.555);
    overflow: hidden;
}

#card-section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cart-btn {
    background-color: rgba(137, 137, 141, 0.459);
    border: 1px solid gray;
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.detail-btn {
    background-color: rgba(0, 0, 255, 0.295);
    border: 1px solid rgb(12, 27, 238);
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.btn-section {
    display: flex;
    justify-content: space-around;
}

.cart-btn:hover {
    box-shadow: 2px 2px 1px grey;
}

.detail-btn:hover {
    box-shadow: 2px 2px 1px rgba(45, 61, 201, 0.219);
}