.first-section {
    background-color: mediumblue;
    height: 30px;
}

img {
    width: 150px;
}

.left {
    padding: 7px;
}

.first-section {
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

.second-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right {
    padding-top: 6px;
}

#link-right {
    color: white;
    /* outline: 1px solid yellow; */
    border: 4px solid rgb(255, 212, 59);
    text-decoration: none;
    border-radius: 4px;
    height: 20px;
    padding: 7px;
}

#quick-link {
    padding: 0px 10px;
    font-size: smaller;
    text-transform: uppercase;
    text-decoration: none;
    color: mediumblue;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cont {
    color: white;
    text-decoration: none;
}

.main {
    list-style: none;
    display: flex;
    background: #6c757d;
}

.main li {
    position: relative;
}

.main li a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

.main li a:hover {
    background: red;
}

.dropdown-header {
    display: none;
    position: absolute;
    background: white;
    list-style: none;
    min-width: 150px;
    border: 1px solid grey;
}

.dropdown-header li a {
    color: grey;
    padding: 10px;
}

.dropdown-header li a:hover {
    background: red;
    color: white;
}

.dropdown:hover .dropdown-header {
    display: block;
}